@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply
    text-xl
}

h2 {
    @apply
    text-lg
}

.section {
    @apply
    py-3
}

.downloads {
    @apply
    mt-3
}

.wrapper {
    @apply
    p-3
    lg:grid
    grid-cols-2
    gap-8
    min-h-screen
}

.form-input {
    @apply
    bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5

}

.preview {
    min-height: 400px;
    font-family: "Times New Roman", Times, serif;
    @apply
    border
    shadow-lg
    text-center
    flex
    flex-col
    pt-6
}


.preview .title {
    @apply
    text-2xl
    font-bold
    uppercase
    my-3
    flex-none
}

.preview .columns {
    @apply
    grid grid-cols-2 gap-8 my-6 text-left mx-8
}

.preview .authors {
    @apply
    text-lg
    flex-none
}

.preview .paper-contents {
    @apply
    grow
}

.preview .paper-contents p {
    @apply
    indent-3
    text-justify
}

.preview .footnotes {
    @apply
    text-sm
    my-3
}

.footnote-border {
    @apply
    w-1/3
    border-t
    border-t-black
}

.downloadButton {
    @apply
    py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
}

.removeButton, .addButton {
    @apply
    text-xs
    leading-3
}

.removeButton {
    @apply
    text-red-600
}

.addButton {
    @apply
    text-green-600
}

html, body, #root {
    min-height: 100vh;
}